.timelineContainer {
    width: 100%;
    height: 200px;
    border: 1px solid black;

}

.timelineContainer #timeline {
    height: 98%;
    width: 98%;
}

.historyContainer {
    width: 97%;
}

.historyContainer #history {
    height:98%;
    width:98%;
}

.col-margin-top {
    margin-top: 10px;
}

.col-margin-large-top {
    margin-top: 20px;
}

.col-margin-bottom {
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}

h3 {
    font-size:20px;
}


.errors {
    margin-top: 20px;
    color: red;
    padding: 5px;
}

#chart {
    width: 97%;
    height: 97%;

}

.chart-container{
    width: 100%;
    height:600px;
    border: 1px solid black;
}

.loading {
    display: block;
    position: absolute;
    left: 44%;
    top: 48%;
}

.nodata {
    display: none;
    position: absolute;
    left: 44%;
    top: 48%;
}

.filter {
    margin-top: 5px;
    padding: 5px;
    background-color:#ededed;
}

.filter select {
    width: 49%;
    margin-right: 1%;
}

.filter input {
    width: 49%;
    margin-right: 1%;
}

.filter input.filterVal {
    display: inline;
}

.filter input.filterDate {
    display: none;
}

.filter-button {
    color: blue;
    cursor: pointer;
    font-weight:bold;
    float:right;
    margin-right:10px;
}

.filter-delete {
    color: red;
    cursor: pointer;
    font-weight:bold;
    float:right;
    margin-right:10px;
}

.subfilter{
    width:90%;
    margin-left:10%;
    margin-top:10px;
}

.padleft0{
    padding-left: 0px;
}

.nopad{
    padding-left: 0px;
       padding-right:0px;
}

.clusterinput{
    width: 100%;
}

#cluster{
    margin-top:10px;
}